
.icon-adolescentes:before { content: '\e800'; } /* '' */
.icon-hombres:before { content: '\e801'; } /* '' */
.icon-mujeres:before { content: '\e802'; } /* '' */
.icon-ninios:before { content: '\e803'; } /* '' */
.icon-viejitos:before { content: '\e804'; } /* '' */
.icon-buscar:before { content: '\e805'; } /* '' */
.icon-calculadora:before { content: '\e806'; } /* '' */
.icon-jeringa:before { content: '\e807'; } /* '' */